<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/']">Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
          aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="[{outlets:{primary:'home'}}]">网站首页</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[{outlets:{primary:'article'}}]">文章列表</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[{outlets:{primary:'share'}}]">共享中心</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[{outlets:{primary:'interaction'}}]">交流互动</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[{outlets:{primary:'about'}}]">关于网站</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[{outlets:{primary:'admin'}}]">后台管理</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="login()">登录</a>
      </li>
      <!--<li><a (click)="goApplicationDetail()">测试路由传参数</a></li>-->
    </ul>
  </div>
</nav>
